# Server
PORT=3000
NODE_ENV=local
LOG_LEVEL=debug
TZ_LATITUDE=52.3676
TZ_LONGITUDE=4.9041

# Auth
REGISTRATION_TOTP_SECRET=1234567890
USER_PASSWORD_SECRET=2487jewfkb
USER_PASSWORD_SALT=282sa123jf
JWT_SECRET=AAAAAAAAAAAAAA
JWT_EXPIRATION_TIMEOUT=21600

# MongoDB
MONGO_DOMAIN=127.0.0.1
MONGO_PORT=27017
MONGO_INITDB_DATABASE=smarthome
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password

# MQTT Broker
MQTT_CLIENT_ID=smarthome-hub
MQTT_CLIENT_SENDER_ID=smarthome-hub-sender
MQTT_DOMAIN=127.0.0.1
MQTT_PORT=1885
MQTT_USERNAME=ilyamatsuev
MQTT_PASSWORD=password
