# IDE
**/.idea/
**/.vscode/

# SFDX
.sfdx/
.sf/
.localdevserver
**/staticresources/

# Dependencies
**/node_modules/
**/package-lock.json

# Build
**/build/
**/dist/

# Random scripts
scripts/generate_z2m_secrets.js

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log

# Tests Output & Configs
jest.config.js
coverage/
