# IDE
**/.idea/
*.launch
.settings/
.project
**/.vscode/*
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json
# IDE Platform IO
/src/devices/**/.pio
/src/devices/**/.vscode/launch.json

# Dependencies
**/node_modules/**

# Build
**/build/
**/dist/

# Tests
/coverage
/.nyc_output

# Data
/src/hub/data/**

# Secrets
**/secrets.cpp
**/mqtt/pwfile.*

# dotenv environment variable files
.env.prod

# temp directory
.temp
.tmp

# System Files
.DS_Store
*.db
*.ini

# Logs
*.log
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
